body    {
                text-align:center;
                background-color: #254982;
                font-family: Helvetica;
                color: white;
                }


table    {
                border-collapse: collapse;
                border: 3px solid black;

                }


th,td    {
                padding: 10px;
                color: black;
                }

th       {
                 background-color: gray;
                }

td    {
                background-color: white;
                }
